<header
	class="fixed top-0 z-10 flex justify-center items-center py-6 mx-auto w-full"
>
	<nav class="flex gap-x-10 flex-row text-gray-100 text-sm font-medium">
		<a href="#Experiencia">Experiencia</a>
		<a href="#Proyectos">Proyectos</a>
		<a href="#Sobre-mi">Sobre mí</a>
	</nav>
</header>
